body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f1f1f1;  
    display: grid;
    grid-template-column: 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "Header Header Header"
        "Sidebar Content Content"
        "Sidebar Content Content"
        "Sidebar Content Content"
        "Sidebar Content Content"
        "Footer footer Footer"
}

.header {
    grid-row: 1 span 3
    background: green
    

}